<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/w3.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">



    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.gritter.js"></script>


    <link rel="stylesheet" href="~/Content/header_menu.css">

    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")

</head>
<body>
    <!-- HEADER MENU -->
    <header>
        <!-- LOGO HOTEL -->
        <div class="container" style="padding-bottom: 5px;">
            <img src="~/Picture/logotitle.png" alt="logo" class="logo w3-animate-zoom ">
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-left">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="#">
                            <i id="iconTitle"></i>
                            <span class="page-trich-dan">@ViewBag.Title</span>
                        </a>
                    </div>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a class="image-nhan-vien" style="text-decoration:none"><img src="~/Picture/doremon.png" alt="NhanVien"><span>Người dùng: @ViewBag.NameUser</span></a>
                </div>
                <input type="hidden" name="ma_nguoi_dung" value="@ViewBag.MaUser" />
            </div>
        </nav>
        <!-- MENU -->
        <nav class="navbar-default nav-menu">
            <div id="nav-left" class="navbar-collapse collapse">
                <ul class="nav">
                    <li id="trang-cua-ban"><a href="#"><i class="fa fa-user-circle"></i> Trang của bạn</a></li>
                    <li><a href="@Url.Action("Logout", "Login")"><i class="glyphicon glyphicon-log-out"></i>  Thoát</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- CONTENT -->
    <section class="phan-noi-dung">
        @RenderBody()
    </section>
</body>
</html>